<!-- Find Teammates (Query) Form -->
<div class="col-md-5">
    <!-- Creates Main Panel -->
    <div class="panel panel-default">

        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">Submit a Report<span class="glyphicon glyphicon-search"></span></h2>
        </div>

        <!-- Panel Body -->
        <div class="panel-body">

            <label for="reportType">Which type of report:</label>
            <label class="radio-inline"><input id="source" value="source" ng-model="opt" type="radio" name="opt">Source</label>
            <label class="radio-inline" ng-show="checkPermission(user)"><input id="quality" value="quality"  ng-model="opt" type="radio" name="opt">Quality</label>
            <!-- Creates Form -->
            <form name ="submitForm">

                <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                <div class="form-group" ng-if="opt != null">
                    <label for="latitude">Your Latitude</label>
                    <input type="text" class="form-control" id="latitude" placeholder="39.5" ng-model="formData.latitude" required>
                </div>
                <div class="form-group" ng-if="opt != null">
                    <label for="longitude">Your Longitude</label>
                    <input type="text" class="form-control" id="longitude" placeholder="-98.35" ng-model="formData.longitude" required>
                </div>

                <div class="form-group" ng-if="opt == 'source'">
                    <label for="waterType">Type of Water</label>
                   <select class="form-control" id="waterType" ng-options="x for x in types" ng-model="formData.waterType" required></select>
                </div>
                <div class="form-group" ng-if="opt == 'source'">
                    <label for="sourceCondition">Condition</label>
                    <select class="form-control" id="sourceCondition" ng-options="x for x in sourceConds" ng-model="formData.sourceCondition" required></select>
                </div>

                <div class="form-group" ng-if="opt == 'quality'">
                    <label for="qualityCondition">Condition</label>
                    <select class="form-control" id="qualityCondition" ng-options="x for x in qualityConds" ng-model="formData.qualityCondition" required></select>
                </div>
                <div class="form-group" ng-if="opt == 'quality'">
                    <label for="virusppm">Virus PPM</label>
                    <input type="number" class="form-control" id="virusppm" placeholder="80" ng-model="formData.virusppm" required>
                </div>
                <div class="form-group" ng-if="opt == 'quality'">
                    <label for="favlang">Chemical PPM</label>
                    <input type="number" class="form-control" id="chemppm" placeholder="20" ng-model="formData.chemppm" required>
                </div>

                <!-- Query button. Note that its tied to queryUsers() function from queryCtrl.  -->
                <button type="submit" class="btn btn-danger btn-block" ng-if="opt != null" ng-click="checkReport()" ng-disabled="submitForm.$invalid">Submit</button>
            </form>
        </div>

    </div>
</div>